body {
    background-color: rgb(240, 240, 240);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
} 

h1 {
    color: #542e91;
}

.friend {
    background-color: #beb4d5;
    color: #000000;
    opacity: 0.5;
}

.friend h3 {
    text-transform: uppercase;
    font-family: 'Unica One', cursive;
    font-size: 2em;
    padding: 2rem;
}

p {
    padding: 0 2rem;
}